body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}
footer p{
  margin: 0px;
}
/* footer{
  text-align:center;
  background-color: #dbd8e3;
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  } */